#navbar {
    background-color: #1e1e1e;
    text-align: center;
}

#navbar-brand {
    flex: 0.4;
    justify-content: flex-start;
    align-items: center;
}

#nav-link-container {
    flex: 0.93;
    justify-content: flex-end;
    align-items: center;
}