.login {
    text-align: center;
    background-color: #1e1e1e;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

.login-logo {
    margin: 2px 2px;
    height: 10vmin;
}

.login-span {
    text-align: center;
    background-color: #181818;
    border-radius: 15px;
    padding: 4rem;
}

.form-group {
    background-color: white;
    height: 10vmin;
}

#login-form {
    background-color: #1e1e1e;
    border-radius: 4px;
    border: none;
    color: white;
    font-family: "Helvetica", Helvetica, serif;
    font-size: 14px;
    margin: 20px 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 33px;
    width: 300px;
}

#login-form:focus {
    background-color: #333333;
    outline: #1db854;
}

#login-button {
    background-color: #1db854;
    border-radius: 20px;
    border: none;
    font-size: 11px;
    color: white;
    margin: 30px 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 37px;
    padding-right: 37px;
    text-align: center;
}

#login-button:hover {
    background-color: #1cd760;
    font-size: 12px;
    margin: 29px 2px;
}

#link-button {
    background-color: #181818;
    border: none;
    font-size: 12px;
    color: white;
}

#link-button:active {
    color: gray;
}
