.login {
    text-align: center;
}

.login-logo {
    height: 10vmin;
}

.login-span {
    background-color: #1e1e1e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.form-group {
    background-color: #1e1e1e;
    height: 10vmin;
}

.link-button {
    background-color: #1e1e1e;
    border: none;
    color: white;
}

.link-buttons:hover {
    text-underline: white;
}

.login-button {
    background-color: #1db854;
    border-radius: 20px;
    border: none;
    color: white;
    margin: 30px 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    text-decoration: none;
}

.login-button:hover {
    background-color: #1cd760;
    margin: 28px 2px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 38px;
    padding-right: 38px;
}

.login-form {
    background-color: #333333;
    border-radius: 4px;
    border: none;
    color: white;
    font-family: "Helvetica", Helvetica, serif;
    font-size: 14px;
    margin: 10px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    width: 300px;
}
